In [50]:
import pandas as pd
from datetime import datetime
from datetime import date
import numpy as np

In [51]:
df = pd.read_csv('Data/bank_transactions.csv',usecols=['CustomerID','CustomerDOB','CustGender','CustAccountBalance'])

In [52]:
df=df.groupby('CustomerID').first().reset_index()

In [53]:
df['CustomerDOB']= pd.to_datetime(df['CustomerDOB'])

In [54]:
df.drop(df[(df['CustomerDOB'] == '1800-1-1')].index, inplace = True)

In [55]:
df=df.dropna()

In [56]:
def age(birthdate):
    today = date.today()
    one_or_zero = ((today.month, today.day) < (birthdate.month, birthdate.day))
    year_difference = today.year - birthdate.year
    age = year_difference - one_or_zero
    return age

In [57]:
df["CustomerDOB"] = df['CustomerDOB'].apply(age)

In [58]:
df.drop(df[(df['CustomerDOB'] < 16)].index, inplace = True)

In [59]:
df['CustGender']=df['CustGender'].apply(lambda x: 1 if (x=='M') else 0)

In [60]:
def ageClassification(age):
    if age <= 21:
        return 2
    elif age > 21 and age <= 30:
        return 3
    elif age > 30 and age <= 45:
        return 4
    elif age > 45 and age <= 60:
        return 5
    else:
        return 6

In [61]:
df['CustomerDOB']=df['CustomerDOB'].apply(ageClassification)

In [62]:
df

       CustomerID  CustomerDOB  CustGender  CustAccountBalance
0        C1010011            3           0            32500.73
1        C1010012            3           1            24204.49
2        C1010014            3           0            38377.14
3        C1010018            4           0              496.18
5        C1010028            4           0           296828.37
...           ...          ...         ...                 ...
884260   C9099836            4           1           133067.23
884261   C9099877            3           1            96063.46
884262   C9099919            3           1             5559.75
884263   C9099941            3           1            35295.92
884264   C9099956            4           1             6968.93

[768523 rows x 4 columns]

In [63]:
'''
location_array = df['CustLocation'].unique()
location_dictionary={}
counter = 0
for i in location_array:
    location_dictionary[i]=counter
    counter+=1
'''

"\nlocation_array = df['CustLocation'].unique()\nlocation_dictionary={}\ncounter = 0\nfor i in location_array:\n    location_dictionary[i]=counter\n    counter+=1\n"

In [64]:
#df['CustLocation']=df['CustLocation'].apply(lambda x: location_dictionary[x])

In [65]:
df

       CustomerID  CustomerDOB  CustGender  CustAccountBalance
0        C1010011            3           0            32500.73
1        C1010012            3           1            24204.49
2        C1010014            3           0            38377.14
3        C1010018            4           0              496.18
5        C1010028            4           0           296828.37
...           ...          ...         ...                 ...
884260   C9099836            4           1           133067.23
884261   C9099877            3           1            96063.46
884262   C9099919            3           1             5559.75
884263   C9099941            3           1            35295.92
884264   C9099956            4           1             6968.93

[768523 rows x 4 columns]

In [66]:
a = pd.qcut(np.array(df["CustAccountBalance"]), 4)

In [67]:
a = a.unique().dropna()

In [68]:
def balanceClassification(x):
    if x in a[1]:
        return 7
    elif x in a[3]:
        return 8
    elif x in a[0]:
        return 9
    else:
        return 10

In [69]:
df["CustAccountBalance"] = df['CustAccountBalance'].apply(balanceClassification)

In [112]:
df = df.reset_index()
df = df.drop(['level_0', 'index'], axis=1)

In [153]:
mat = np.zeros((11,df.shape[0],))

In [154]:
df_min = pd.DataFrame(mat)

In [155]:
df

       CustomerID  CustomerDOB  CustGender  CustAccountBalance
0        C1010011            3           0                   9
1        C1010012            3           1                   9
2        C1010014            3           0                   9
3        C1010018            4           0                   7
4        C1010028            4           0                  10
...           ...          ...         ...                 ...
768518   C9099836            4           1                  10
768519   C9099877            3           1                  10
768520   C9099919            3           1                   8
768521   C9099941            3           1                   9
768522   C9099956            4           1                   8

[768523 rows x 4 columns]

In [156]:
df_min

,0,1,2,3,4,5,6,7,8,9,...,768513,768514,768515,768516,768517,768518,768519,768520,768521,768522
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [157]:
#Preparing the shingles and the sets
li = [*range(11)]
for i in li:
    for row in df.index:
        if df.loc[row]['CustomerDOB'] == i:
            df_min.loc[i][row] = 1
        
        if df.loc[row]['CustGender'] == i:
            df_min.loc[i][row] = 1
            
        if df.loc[row]['CustAccountBalance'] == i:
            df_min.loc[i][row] = 1

In [172]:
df

       CustomerID  CustomerDOB  CustGender  CustAccountBalance
0        C1010011            3           0                   9
1        C1010012            3           1                   9
2        C1010014            3           0                   9
3        C1010018            4           0                   7
4        C1010028            4           0                  10
...           ...          ...         ...                 ...
768518   C9099836            4           1                  10
768519   C9099877            3           1                  10
768520   C9099919            3           1                   8
768521   C9099941            3           1                   9
768522   C9099956            4           1                   8

[768523 rows x 4 columns]

In [173]:
df_min

,0,1,2,3,4,5,6,7,8,9,...,768513,768514,768515,768516,768517,768518,768519,768520,768521,768522
0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0
4,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
9,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0

In [194]:
sig = []
for i in li:
    for col in df_min:
        if df_min.loc[i][col]==1:
            sig.append(col)
            break

KeyboardInterrupt:

In [195]:
sig

[0, 1, 497, 0, 3, 11]

In [176]:
df_min[1][1]

1.0